.header{
    background-color: cadetblue;
    margin: 600px;
    justify-content: end;
    text-decoration: dashed;
text-align: left;
}

.links{
    background-color: aquamarine;
margin: auto;
font-family: 'Courier New', Courier, monospace;
margin: 40px;
padding: 15px;
}
.h1{
    background-color: chocolate;
    margin: 400px;
    padding: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-around;
    font-size: medium;
}
.p{
    background-color: bisque;
    margin: 600px;
    padding: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: baseline;
}